/* ================= RESET ================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #0b0f1a;
    color: white;
}


/* ================= NAVBAR ================= */

header {
    border-bottom: 1px solid #202637;
    position: sticky;
    top: 0;
    z-index: 1000;
    background: #0b0f1a;
}

.navbar {
    height: 60px;
    max-width: 1100px;
    margin: auto;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 20px;
}

.logo {
    text-decoration: none;
    color: #a855f7;
    font-weight: bold;
}

.logo span {
    color: white;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 28px;
}

.nav-links a {
    text-decoration: none;
    color: #ddd;
    font-size: 13px;
    transition: 0.3s;
}

.nav-links a:hover,
.nav-links a.active {
    color: #a855f7;
}

.menu-btn {
    display: none;
    font-size: 22px;
    cursor: pointer;
}


/* ================= HERO ================= */

.hero {
    min-height: 420px;
    max-width: 1100px;
    margin: auto;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 60px 20px;
}

.hero-content {
    max-width: 550px;
}

.hello {
    color: #cbd0dc;
    margin-bottom: 8px;
}

.hero h1 {
    font-size: 42px;
    margin-bottom: 8px;
}

.hero h1 span {
    color: #a855f7;
}

.hero h2 {
    color: #a855f7;
    font-size: 18px;
    margin-bottom: 12px;
}

.description {
    color: #c5c8d0;
    line-height: 1.6;
    font-size: 14px;
    max-width: 480px;
}


/* ================= BUTTONS ================= */

.buttons {
    display: flex;
    gap: 12px;
    margin-top: 22px;
}

.btn {
    text-decoration: none;
    padding: 10px 16px;
    border-radius: 4px;
    font-size: 13px;
    transition: 0.3s;
}

.primary {
    background: #8b3df0;
    color: white;
}

.primary:hover {
    background: #a855f7;
}

.secondary {
    border: 1px solid #8b3df0;
    color: white;
}

.secondary:hover {
    background: #8b3df0;
}


/* ================= SOCIAL ================= */

.social-links {
    display: flex;
    gap: 18px;
    margin-top: 20px;
}

.social-links a {
    color: #aeb3c0;
    font-size: 17px;
    transition: 0.3s;
}

.social-links a:hover {
    color: #a855f7;
}


/* ================= PROFILE IMAGE ================= */

.hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    width: 180px;
    height: 180px;

    border-radius: 50%;

    border: 2px solid #a855f7;

    box-shadow:
        0 0 15px rgba(168, 85, 247, 0.7),
        0 0 35px rgba(168, 85, 247, 0.3);
    overflow: hidden;
    /* background-color: #101522; */
}

.circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    /* transform: scale(1.5); */
}


/* ================= SKILLS ================= */

.skills-section {
    border-top: 1px solid #202637;
    border-bottom: 1px solid #202637;

    padding: 20px;
}

.section-title {
    text-align: center;
    margin-bottom: 25px;
}

.section-title h2 {
    font-size: 20px;
}

.section-title span {
    display: block;
    width: 30px;
    height: 2px;

    background: #a855f7;

    margin: 6px auto;
}

.skills-container {
    max-width: 1000px;
    margin: auto;

    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 8px;
}

.skill-card {
    height: 85px;

    background: #151b29;
    border: 1px solid #242b3b;

    border-radius: 5px;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    gap: 8px;

    transition: 0.3s;
}

.skill-card:hover {
    transform: translateY(-5px);
    border-color: #a855f7;
}

.skill-card i {
    font-size: 28px;
    color: #a855f7;
}

.skill-card p {
    font-size: 10px;
    color: #ddd;
}


/* ================= OTHER SECTIONS ================= */

.normal-section {
    max-width: 1000px;
    margin: auto;
    padding: 80px 20px;

    min-height: 300px;
}

.normal-section > p {
    color: #bbb;
    line-height: 1.7;
    text-align: center;
}


/* ================= PROJECTS ================= */

.project-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.project-card {
    background: #151b29;
    border: 1px solid #252c3d;

    padding: 25px;
    border-radius: 8px;

    transition: 0.3s;
}

.project-card:hover {
    border-color: #a855f7;
    transform: translateY(-5px);
}

.project-card h3 {
    margin-bottom: 12px;
}

.project-card p {
    color: #aaa;
    line-height: 1.5;
    margin-bottom: 15px;
}

.project-card a {
    color: #a855f7;
    text-decoration: none;
}


/* ================= CONTACT ================= */

.contact {
    text-align: center;
}

.contact p {
    margin: 10px 0;
}


/* ================= FOOTER ================= */

footer {
    border-top: 1px solid #202637;

    text-align: center;

    padding: 20px;

    color: #888;

    font-size: 13px;
}


/* ================= RESPONSIVE ================= */

@media (max-width: 800px) {

    .nav-links {
        position: absolute;

        top: 60px;
        right: 0;

        width: 200px;

        background: #101522;

        display: none;
        flex-direction: column;

        padding: 20px;

        gap: 20px;
    }

    .nav-links.show {
        display: flex;
    }

    .menu-btn {
        display: block;
    }

    .hero {
        flex-direction: column-reverse;
        text-align: center;
        gap: 40px;
    }

    .description {
        margin: auto;
    }

    .buttons,
    .social-links {
        justify-content: center;
    }

    .skills-container {
        grid-template-columns: repeat(4, 1fr);
    }

    .project-container {
        grid-template-columns: 1fr;
    }
}


@media (max-width: 500px) {

    .hero h1 {
        font-size: 34px;
    }

    .skills-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .hero {
        padding-top: 40px;
    }

}